body { 
    background-color: rgb(241, 228, 223);
}
.anounce {
    color: rgb(4, 12, 128);
    display: inline;
}
.para1 {
    background-color: bisque;
/* first paragraph */
}
.container {
display: inline-block;
}

.dates{
  font-weight: lighter;
color:rgb(54, 51, 51);
display: inline;
text-align: right;
margin-left: 60px;
}

.img1 {
    width: 51px;
    height: 51px;
    background-color: blue;
    border-radius: 17%;
display: inline-block;
  }

  .img2 {
    width: 60px;
    height: 60px;
    background-color: blue;
    border-radius: 75%;
display: inline;
  }

  .expt {
    color: rgb(6, 7, 22);
    display: inline-block;
  }

  .exp1{
    background-color: bisque;
  }

  .exp2{
    background-color: bisque;
  }

  .exp3{
    background-color: bisque;
  
  }

.stl{
/* dont quite remember what i had planned for this. */
}

